@model IEnumerable<Admin_Registration.Models.Account>


@Html.ActionLink("Add", "Add")

<form method="get" action="@Url.Action("Search", "Home")">
    <label>Search</label>
    <input type="text" name="search" />
    <button type="submit">Search</button>
</form>


<br/>                                       
    
@foreach (var item in Model)
{
    
    @Html.DisplayFor(asdf => item.Id);
    <text>&nbsp;</text>
    @Html.DisplayFor(asdf => item.Name);
    <text>&nbsp;</text>
    @Html.DisplayFor(asdf => item.Age);
    <text>&nbsp;</text>
    @Html.DisplayFor(asdf => item.Address);
    <text>&nbsp;</text>

    @Html.ActionLink("Edit", "Edit", new { Id = item.Id })
    <text>&nbsp;</text>

    @Html.ActionLink("Delete", "Delete", new { Id = item.Id })
    <br />

}